@media all and (max-width: 980px) {
    .xs-custom-menu .et_pb_menu__wrap {
        justify-content: end !important;
    }
}

body .xs-custom-header-section .et_pb_menu ul.et_mobile_menu {
    border-top: 0;
    border-radius: 30px;
    margin-top: 12px;
    background: #6d86a6f7 !important;
}
@media all and (min-width: 981px) {
    body .xs-custom-header-section .et_pb_menu ul.et_mobile_menu {
        display: none !important;
    }
}