.elementor-icon-list-items {
    padding: 0 !important;
    list-style: none;
    gap: 10px;
}

.elementor-icon-list-items br {
    display: none;
}

.elementor-icon-list-items li {
    display: flex;
    padding-block-end: calc(20px / 2);
}

.elementor-icon-list-items li a {
    display: flex;
    align-items: center;
}

.elementor-icon-list-items svg {
    width: 18px;
    fill: #fff;
    margin-right: 15px;
    position: relative;
    top: 4px;
}

.footer-quick-links ul {
    padding: 0 !important;
    list-style: none;
    display: grid;
    gap: 10px;
}

.footer-quick-links ul li {
    position: relative;
    padding-left: 25px;
}

.footer-quick-links ul li:before {
    content: "\f061";
    font-family: fontawesome;
    position: absolute;
    left: 0;
    top: 0;
}