/* --- Global & Buttons --- */
.et_pb_button:hover,
.et_pb_posts article:hover,
.et_pb_menu__menu .et-menu-nav ul.nav li:last-child a:hover,
.our-fleets-row .et_pb_column .et_pb_blurb:hover {
    transform: scale(1.03);
}

/* --- Navigation & Header --- */
.et_mobile_nav_menu ul.et_mobile_menu {
    margin-top: 10px;
    border-radius: 20px;
    border-top-color: #69403c;
    text-align: center;
}

.et_pb_menu__menu .et-menu-nav ul.nav li:last-child a {
    background: #69403c;
    color: #fff !important;
    padding: 10px 20px !important;
    border-radius: 10px;
    height: 50px;
    top: 23px;
    transition: .3s;
}

.top-nav-email-now {
    display: flex;
    justify-content: end;
}

.et_pb_menu__menu .et-menu-nav ul.nav li:last-child a:hover {
    background: #69403c;
}

@media all and (max-width: 980px) {
    .top-nav-call-now {
        display: flex;
        justify-content: center;
    }
}

.top-nav-call-now a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-bar-call i {
    animation: call 2s infinite;
}

@keyframes call {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

.top-bar-call {
    width: 30px;
    background: #fff;
    color: #000;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 16px;
    box-shadow: 0 0 0 5px transparent;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
    }

    50% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
    }
}

/* --- Footer Links --- */
.footer-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 10px;
}

.footer-links ul li a {
    transition: .3s;
    position: relative;
    padding-left: 30px;
    display: inline-block;
}

.footer-links ul li a:before {
    content: "\f178";
    font-family: fontawesome;
    position: absolute;
    left: 0;
}

.footer-links ul li a:hover {
    transform: translateX(-10px);
}

/* --- Footer Contact Icons --- */
.footer-contact-links li:nth-child(1) a:before {
    content: "\f0e0";
}

.footer-contact-links li:nth-child(2) a:before {
    content: "\f2a0";
}

.footer-contact-links li:nth-child(3) a:before {
    content: "\f64a";
}

.footer-contact-links li:nth-child(4) a:before {
    content: "\f3c5";
}

.footer-contact-links li:nth-child(5) a:before {
    content: "\f059";
}

/* --- Accordion --- */
.et_pb_accordion .et_pb_toggle .et_pb_toggle_title:before {
    content: "\f078" !important;
    font-family: fontawesome !important;
}

.et_pb_accordion .et_pb_toggle_open .et_pb_toggle_title:before {
    display: block !important;
    content: "\f077" !important;
    font-family: fontawesome !important;
}

/* --- Sections & Parallax --- */
.parallax-section .et_parallax_bg:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
}

/* --- Blog / Posts Grid --- */
.et_pb_posts .et_pb_ajax_pagination_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.et_pb_posts article {
    margin-bottom: 0 !important;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    transition: .3s;
}

.blog-page-module.et_pb_posts .et_pb_ajax_pagination_container article {
    background: #F1F5F9 !important;
}

.et_pb_posts .post-content {
    padding-bottom: 30px !important;
}

.et_pb_posts article .entry-title,
.et_pb_posts article .post-meta,
.et_pb_posts article .post-content {
    padding-left: 20px;
    padding-right: 20px;
}

.et_pb_posts article a.more-link {
    display: inline-block;
    margin-top: 10px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #161616;
    transition: .3s;
}

/* --- Fleets Section --- */
.our-fleets-row .et_pb_column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.our-fleets-row .et_pb_column .et_pb_blurb {
    border-radius: 20px;
    padding: 20px;
    transition: .3s;
}

.our-fleets-row .et_pb_column .et_pb_blurb:hover .et_pb_blurb_description a {
    color: #fff !important;
}

.our-fleets-row .et_pb_column .et_pb_blurb .et_pb_image_wrap {
    overflow: hidden;
    height: 200px;
}

.our-fleets-row .et_pb_column .et_pb_blurb .et_pb_blurb_description ul {
    padding-bottom: 5px;
}

/* --- Forms --- */
.fluentform_wrapper_4.ffs_custom_wrap .ff-el-input--label label,
.fluentform_wrapper_3.ffs_custom_wrap .ff-el-input--label label {
    color: #161616 !important;
}

.fluentform .ff-el-group.ff-custom_html {
    display: none !important;
}

/* --- Media Queries --- */

/* Desktop/Tablet height fix */
@media all and (min-width: 768px) {
    .et_pb_posts article .entry-featured-image-url {
        height: 280px;
        overflow: hidden;
    }

    .et_pb_posts article .entry-featured-image-url img {
        height: 100% !important;
        object-fit: cover !important;
    }
}

/* Tablet / Small Desktop */
@media all and (max-width: 980px) {

    .et_pb_posts .et_pb_ajax_pagination_container,
    .our-fleets-row .et_pb_column {
        grid-template-columns: repeat(2, 1fr);
    }

    .mobile-row-order-change {
        display: flex;
        flex-wrap: wrap;
    }

    .mobile-row-order-change .et_pb_column:nth-child(1) {
        order: 2;
        margin-bottom: 0 !important;
    }

    .mobile-row-order-change .et_pb_column:nth-child(2) {
        order: 1;
        margin-bottom: 30px !important;
    }

    span.et_parallax_bg.et_pb_parallax_css {
        background-attachment: fixed !important;
    }
}

/* Mobile */
@media all and (max-width: 767px) {
    .et_pb_posts .et_pb_ajax_pagination_container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media all and (max-width: 500px) {
    .our-fleets-row .et_pb_column {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-fleets-row .et_pb_column .et_pb_blurb .et_pb_image_wrap {
        overflow: unset;
        height: auto;
    }
}

/* Home Slider */
.hero-slider .et_pb_slide_description {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.hero-slider .et_pb_slide_content {
    max-width: 780px;
    margin: auto;
    padding-top: 10px;
}

.hero-slider .et-pb-controllers {
    display: flex !important;
    padding-left: 25%;
    padding-right: 25%;
}

.hero-slider .et-pb-controllers a {
    flex: 1 !important;
    text-align: center !important;
    height: 4px !important;
}

@media all and (max-width: 980px) {
    .hero-slider .et-pb-slider-arrows {
        display: none !important;
    }
}

body button.ff-btn.ff-btn-submit.ff-btn-md.ff_btn_style,
body button.ff-btn.ff-btn-submit.ff-btn-md.ff_btn_style.wpf_has_custom_css,
body .fluentform_wrapper_4.ffs_custom_wrap .ff_submit_btn_wrapper .ff-btn-submit:not(.ff_btn_no_style) {
    background: #69403C !important;
}