footer.elementor-element.elementor-element-74f62af9.e-con-full.e-flex.e-con.e-parent.e-lazyloaded {
    display: block !important;
}

body.tahefobu-hide-theme-footer footer {
    display: block !important;
}

/* POPUP FORM */
.pum-theme-1267,
.pum-theme-default-theme {
    background-color: rgba(0, 0, 0, .8) !important;
    font-family: "Outfit", Sans-serif;
    color: #333 !important;
}

div#popmake-1337 {
    max-width: 640px !important;
    padding: 40px !important;
    border-radius: 30px;
}

@media all and (max-width: 550px) {
    div#popmake-1337 {
        padding: 30px !important;
    }
}

.pum-content.popmake-content h2 {
    color: #333;
}

.pum-content.popmake-content label,
.pum-content.popmake-content input,
.pum-content.popmake-content p {
    color: #333;
}

.pum-content.popmake-content p {
    margin-bottom: 0 !important;
}

.pum-content.popmake-content input {
    width: 100%;
    background-color: #EEEEEE;
    border: 1px solid #BBBBBB;
    border-radius: 30px 30px 30px 30px;
    padding: .5rem 1rem;
}

.pum-content.popmake-content label {
    display: block;
    width: 100%;
}

.pum-content.popmake-content span.wpcf7-list-item {
    margin: 0;
}

.pum-content.popmake-content input[type="checkbox"] {
    width: unset !important;
}

.pum-content.popmake-content span.wpcf7-list-item-label {
    line-height: 1.3;
}

.pum-content.popmake-content label.xs-input-label {
    margin-top: 15px;
}

.pum-content.popmake-content span.wpcf7-form-control-wrap {
    margin-top: 5px !important;
    display: block;
}

.xs-popup-submit {
    position: relative;
}

.pum-content.popmake-content .xs-popup-submit input {
    background-color: #10981D;
    color: #FFFFFF;
    border-style: none;
    border-radius: 30px;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: .5px !important;
}

.pum-content.popmake-content span.wpcf7-spinner {
    position: absolute;
    right: -20px;
    top: 9.5px;
}

.pum-content.popmake-content .wpcf7-response-output {
    text-align: center;
    color: #333;
}

.pum-container.popmake button.pum-close.popmake-close {
    background: transparent !important;
    box-shadow: none !important;
    color: #333 !important;
    font-size: 20px !important;
    top: -3px !important;
    right: 3px !important;
}

body nav.tahefobu-nav-menu-container li.produktblad-popup a {
    background-color: #10981D;
    color: #FFFFFF !important;
    border-radius: 30px !important;
    padding: 15px 20px !important;
}