.hover-effect {
    transition: .3s;
}

.xs-row-column-effect .et_pb_column {
    transition: .3s;
}

.xs-row-column-effect .et_pb_column:hover,
.hover-effect:hover,
.et_pb_button:hover {
    transform: scale(1.03);
}

.hours-row {
    display: flex;
    justify-content: space-between;
}

.xs-footer-links ul {
    padding: 0;
    list-style: none;
}

.xs-footer-links ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.xs-footer-links ul li:last-child {
    margin-bottom: 0;
}

.xs-footer-links ul li:before {
    content: "\f054";
    font-family: fontawesome;
    position: absolute;
    left: 0;
    top: 0;
}

.footer-contact-info ul {
    padding: 0;
    list-style: none;
}

.footer-contact-info ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.footer-contact-info ul li:last-child {
    margin-bottom: 0;
}

.footer-contact-info ul li:before {
    content: "";
    font-family: fontawesome;
    position: absolute;
    left: 0;
    top: 0;
}

.footer-contact-info ul li:nth-child(1):before {
    content: "\f095";
}

.footer-contact-info ul li:nth-child(2):before {
    content: "\f0e0";
}

.footer-contact-info ul li:nth-child(3):before {
    content: "\f3c5";
}

.footer-contact-info ul li:nth-child(4):before {
    content: "\f073";
}

.footer-contact-info ul li:nth-child(5):before {
    content: "\f017";
}

.et_pb_toggle .et_pb_toggle_title:before {
    content: "\f078" !important;
    font-family: fontawesome !important;
}

.et_pb_accordion .et_pb_toggle_open .et_pb_toggle_title:before {
    display: block !important;
    content: "\f077" !important;
    font-family: fontawesome !important;
}

.home-accordion-toggle .et_pb_accordion_item {
    margin-bottom: 10px !important;
}

.home-accordion-toggle .et_pb_accordion_item:last-child {
    margin-bottom: 0px !important;
}

.xscontact-page .et_contact_bottom_container {
    width: 100%;
}

.xscontact-page .et_contact_bottom_container button.et_pb_contact_submit.et_pb_button {
    width: 100%;
}

.xscontact-page .et-pb-contact-message ul {
    display: none !important;
}

.xscontact-page .et-pb-contact-message p {
    padding: 15px 10px;
    text-align: center;
    background: #ddd;
    border-radius: 10px;
    color: #000;
    margin-bottom: 10px;
}

.areas-button-lists ul {
    list-style: none;
    padding: 0;
}

.areas-button-lists ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
}

@media all and (max-width: 767px) {
    .areas-button-lists ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

.areas-button-lists.two-area-btn ul {
    grid-template-columns: repeat(2, 1fr) !important;
}

.areas-button-lists ul li a {
    background: #fff;
    display: block;
    border-radius: 100px;
    border: 1px solid #0003;
    padding: 10px;
    transition: .3s;
}

.areas-button-lists ul li a:hover {
    background: #7CDA24;
    transform: scale(1.03);
}

body a.ti-header-write-btn {
    background: #7CDA24 !important;
    border-color: #7CDA24 !important;
}

@media all and (max-width: 980px) {
    .mobie-row-order-change {
        display: flex;
        flex-wrap: wrap;
    }

    .mobie-row-order-change .et_pb_column:nth-child(1) {
        order: 2;
        margin-bottom: 0;
    }

    .mobie-row-order-change .et_pb_column:nth-child(2) {
        order: 1;
        margin-bottom: 30px;
    }
}

.top-call-for-fast-button .et_pb_main_blurb_image {
    vertical-align: middle !important;
}

@media all and (min-width: 1100px) and (max-width: 1230px) {
    .top-call-for-fast-button .et_pb_blurb_description {
        font-size: 17px;
    }

    .top-call-for-fast-button h4.et_pb_module_header {
        font-size: 11px !important;
    }
}

@media all and (min-width: 981px) and (max-width: 1099px) {
    .top-call-for-fast-button h4.et_pb_module_header {
        display: none !important;
    }

    .top-call-for-fast-button .et_pb_blurb_description {
        font-size: 14px;
    }

    .top-call-for-fast-button span.et-waypoint.et_pb_animation_off.et_pb_animation_off_tablet.et_pb_animation_off_phone.et-pb-icon.et-animated {
        font-size: 24px;
    }

    .top-call-for-fast-button .et_pb_blurb_container {
        padding-left: 0 !important;
    }

    .et_pb_menu_0_tb_header .et_pb_menu_inner_container>.et_pb_menu__logo-wrap,
    .et_pb_menu_0_tb_header .et_pb_menu__logo-slot {
        max-width: 164px !important;
    }
}

.et_pb_posts .et_pb_ajax_pagination_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

@media all and (max-width: 767px) {
    .et_pb_posts .et_pb_ajax_pagination_container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media all and (min-width: 768px) and (max-width: 980px) {
    .et_pb_posts .et_pb_ajax_pagination_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.et_pb_posts article {
    margin: 0 !important;
}

.et_pb_posts article .entry-title,
.et_pb_posts article .post-content {
    padding-left: 20px;
    padding-right: 20px;
}

.et_pb_posts article .post-content {
    padding-bottom: 20px;
}

@media all and (min-width: 981px) {
    .et_pb_posts article .entry-featured-image-url {
        height: 280px !important;
        overflow: hidden !important;
    }
}

.wp-pagenavi span,
.wp-pagenavi a {
    padding: 5px 10px;
    border-radius: 3px;
}

/*change hamburger icon to x when mobile menu is open*/

#et_mobile_nav_menu .mobile_nav.opened .mobile_menu_bar::before,
.et_pb_module.et_pb_menu .et_mobile_nav_menu .mobile_nav.opened .mobile_menu_bar::before {
    content: '\4d';
}


/*adjust the new toggle element which is added via jQuery*/

ul.et_mobile_menu li.menu-item-has-children .mobile-toggle,
ul.et_mobile_menu li.page_item_has_children .mobile-toggle,
.et-db #et-boc .et-l ul.et_mobile_menu li.menu-item-has-children .mobile-toggle,
.et-db #et-boc .et-l ul.et_mobile_menu li.page_item_has_children .mobile-toggle {
    width: 44px;
    height: 100%;
    padding: 0px !important;
    max-height: 44px;
    border: none;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 999;
    background-color: transparent;
}


/*some code to keep everyting positioned properly*/

ul.et_mobile_menu>li.menu-item-has-children,
ul.et_mobile_menu>li.page_item_has_children,
ul.et_mobile_menu>li.menu-item-has-children .sub-menu li.menu-item-has-children,
.et-db #et-boc .et-l ul.et_mobile_menu>li.menu-item-has-children,
.et-db #et-boc .et-l ul.et_mobile_menu>li.page_item_has_children,
.et-db #et-boc .et-l ul.et_mobile_menu>li.menu-item-has-children .sub-menu li.menu-item-has-children {
    position: relative;
}


/*remove default background color from menu items that have children*/

.et_mobile_menu .menu-item-has-children>a,
.et-db #et-boc .et-l .et_mobile_menu .menu-item-has-children>a {
    background-color: transparent;
}


/*hide the submenu by default*/

ul.et_mobile_menu .menu-item-has-children .sub-menu,
#main-header ul.et_mobile_menu .menu-item-has-children .sub-menu,
.et-db #et-boc .et-l ul.et_mobile_menu .menu-item-has-children .sub-menu,
.et-db #main-header ul.et_mobile_menu .menu-item-has-children .sub-menu {
    display: none !important;
    visibility: hidden !important;
}


/*show the submenu when toggled open*/

ul.et_mobile_menu .menu-item-has-children .sub-menu.visible,
#main-header ul.et_mobile_menu .menu-item-has-children .sub-menu.visible,
.et-db #et-boc .et-l ul.et_mobile_menu .menu-item-has-children .sub-menu.visible,
.et-db #main-header ul.et_mobile_menu .menu-item-has-children .sub-menu.visible {
    display: block !important;
    visibility: visible !important;
}


/*adjust the toggle icon position and transparency*/

ul.et_mobile_menu li.menu-item-has-children .mobile-toggle,
.et-db #et-boc .et-l ul.et_mobile_menu li.menu-item-has-children .mobile-toggle {
    text-align: center;
    opacity: 1;
}


/*submenu toggle icon when closed*/

ul.et_mobile_menu li.menu-item-has-children .mobile-toggle::after,
.et-db #et-boc .et-l ul.et_mobile_menu li.menu-item-has-children .mobile-toggle::after {
    top: 10px;
    position: relative;
    font-family: "ETModules";
    content: '\33';
    color: #00d263;
    background: #f0f3f6;
    border-radius: 50%;
    padding: 3px;
}


/*submenu toggle icon when open*/

ul.et_mobile_menu li.menu-item-has-children.dt-open>.mobile-toggle::after,
.et-db #et-boc .et-l ul.et_mobile_menu li.menu-item-has-children.dt-open>.mobile-toggle::after {
    content: '\32';
}


/*add point on top of the menu submenu dropdown*/

.et_pb_menu_0.et_pb_menu .et_mobile_menu:after {
    position: absolute;
    right: 5%;
    margin-left: -20px;
    top: -14px;
    width: 0;
    height: 0;
    content: '';
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #ffffff;
}


/*adjust the position of the hamburger menu*/

.mobile_menu_bar {
    position: relative;
    display: block;
    line-height: 0;
}


/*force the background color and add a rounded border*/

.et_pb_menu_0.et_pb_menu .et_mobile_menu,
.et_pb_menu_0.et_pb_menu .et_mobile_menu ul {
    background-color: #ffffff !important;
    border-radius: 10px;
}

ul#mobile_menu1 {
    margin-top: 15px;
    border-radius: 10px;
}

body .et-menu-nav ul.sub-menu {
    width: 350px !important;
    border: 1px solid #0c5dce36 !important;

}

.et-menu-nav ul.sub-menu li {
    width: 100%;
    display: block;
    padding: 0 !important;
}

.et-menu-nav ul.sub-menu li a {
    width: 100%;
    display: block;
}

.our-services-list ul {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.areas-button-lists.five-social-lists ul {
    grid-template-columns: repeat(5, 1fr);
}

@media all and (max-width: 767px) {
    .our-services-list ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .areas-button-lists.five-social-lists ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

.our-services-list ul li a {
    background: #fff;
    display: block;
    border-radius: 100px;
    border: 1px solid #0003;
    padding: 10px;
    transition: .3s;
}

.et-menu-nav ul.sub-menu {
    border-radius: 10px;
    margin-top: -10px;
}

@media all and (min-width: 1120px) {
    .et_pb_row.et_pb_row_1_tb_header {
        display: flex !important;
    }

    .et_pb_row.et_pb_row_1_tb_header .et_pb_column:nth-child(1) {
        width: 100% !important;
    }

    .et_pb_row.et_pb_row_1_tb_header .et_pb_column:nth-child(2) {
        width: 100% !important;
        max-width: 280px !important;
    }
}

@media all and (max-width: 980px) {
    .xs-main-header .et_pb_row.et_pb_row_1_tb_header {
        display: block !important;
    }
}

.dsm_icon_list .dsm_icon_list_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.dsm_icon_list .dsm_icon_list_items li.dsm_icon_list_child {
    margin-bottom: 0 !important;
}

/* New Header CSS Start */
body .et-menu-nav ul li.xs-header-btn a,
body #top-menu-nav li.xs-header-btn a {
    background: #0c5dce;
    color: #fff !important;
    border-radius: 100px;
    padding: 16px 15px !important;
}

nav#top-menu-nav {
    position: relative;
    top: -8px;
    padding-top: 15px;
}

.et-fixed-header #top-menu-nav li.xs-header-btn a {
    color: #fff !important;
}

#main-header .container {
    max-width: 1400px !important;
    width: 90% !important;
}

body .et-menu-nav li.menu-btn1,
#top-menu-nav #top-menu li.menu-btn1 {
    position: absolute !important;
    left: 0 !important;
    top: 16px !important;
}

body #page-container .et_pb_section .et-menu-nav li.menu-btn2.current-menu-item a {
    color: #fff !important;
}

body .et-menu-nav li.menu-btn2,
#top-menu-nav #top-menu li.menu-btn2 {
    position: absolute !important;
    right: 0 !important;
    top: 16px !important;
}

body .et-menu-nav,
nav#top-menu-nav {
    width: 100% !important;
}

@media all and (min-width: 981px) and (max-width: 1050px) {
    #main-header .container {
        width: 100% !important;
    }
}

@media all and (min-width: 1051px) and (max-width: 1120px) {
    #main-header .container {
        width: 95% !important;
    }
}

@media all and (min-width: 1220px) {
    #top-menu-nav #top-menu li {
        padding-right: 40px;
    }
}

body .et-menu-nav .sub-menu,
#top-menu-nav .sub-menu {
    padding: 0 !important;
    border-top: 0 !important;
}

body .et-menu-nav .sub-menu li,
#top-menu-nav .sub-menu li {
    padding: 0 !important;
    width: 100%;
}

body .et-menu-nav .sub-menu li a,
#top-menu-nav .sub-menu li a {
    border-bottom: 1px solid #ddd;
    display: block;
    width: 100%;
}

body .et-menu-nav .sub-menu li a:hover,
#top-menu-nav .sub-menu li a:hover {
    color: #fff;
    background: #0c5dce;
    opacity: 1;
}

body .et-menu-nav .sub-menu li:last-child a #top-menu-nav .sub-menu li:last-child a {
    border-bottom: 0 !important;
}

/* New Header CSS End */
.xs-new-service-lists ul {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.xs-new-service-lists ul li {
    position: relative;
    padding-left: 30px;
}

.xs-new-service-lists ul li:before {
    content: "\f5a0";
    font-family: fontawesome;
    position: absolute;
    top: 0;
    left: 0;
}

/* New Home */
.new-home-video-section span.et_pb_section_video_bg:before {
    content: "";
    background: #0000009e;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.new-may-home-services-top-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-may-home-services-top-nav ul li:first-child {
    border-radius: 50px;
    background: #fff;
    padding: 5px 10px;
}

.new-may-home-services-top-nav ul li:last-child {
    border-radius: 50%;
    background: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-may-home-offer-ul1 ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.new-may-home-offer-ul1 ul li:first-child {
    font-size: 26px;
    font-weight: bold;
}

.new-may-home-offer-ul1 ul li:last-child {
    font-size: 48px;
    font-weight: bold;
}

.new-may-home-offer-ul2 ul {
    padding: 0;
    list-style: none;
}

.new-may-home-offer-ul2 ul li:first-child {
    font-size: 18px;
    font-weight: 300;
}

.new-may-home-offer-ul2 ul li:last-child {
    display: flex;
    align-items: center;
    grid-area: 5px;
    margin-top: 15px;
    font-size: 18px;
}

.new-may-home-offer-row .et_pb_column {
    position: relative;
    transform: .5s;
}

.new-may-home-offer-row .et_pb_column:before {
    content: "";
    background: #ffffff14;
    position: absolute;
    top: 0;
    right: -82px;
    width: 60%;
    height: 100%;
    border-radius: 50px;
    transform: rotate(15deg);
    transition: 2s;
}

.new-may-home-offer-row .et_pb_column:hover:before {
    transform: rotate(-131deg);
}

.new-may-home-map-lists {
    background: #ffffffe0;
    max-width: 420px;
    padding: 30px;
}

.new-may-home-map-lists h2 {
    text-transform: capitalize;
    font-weight: bold;
}

.new-may-home-map-lists ul {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 10px;
}

.new-may-home-map-lists ul li {
    display: block;
}

.new-may-home-map-lists ul li a {
    background: #fff;
    padding: 10px;
    color: #000;
    display: block;
    border: 1px solid #dddddda1;
    border-radius: 10px;
    transition: .3s;
    position: relative;
}

.new-may-home-map-lists ul li a:before {
    content: "\f061";
    font-family: fontawesome;
    position: absolute;
    right: 0;
    top: 10px;
    color: transparent;
    transition: .3s;
}

.new-may-home-map-lists ul li a:hover:before {
    color: #000;
    right: 20px;
    top: 10px;
}

.new-may-home-map-lists ul li a:hover {
    transform: scale(1.05);
}

@media all and (max-width: 767px) {
    .new-may-home-map-lists {
        background: #f1f1f1 !important;
    }
}

.new-single-service-area-all-services-blurb .et_pb_column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.new-single-service-area-all-services-blurb .et_pb_module {
    background: #E5E5E5;
    transition: .3s;
    border-radius: 20px;
    padding: 20px;
    position: relative;
}

.new-single-service-area-all-services-blurb .et_pb_module:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ddd;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M7 7h10v10'/%3E%3Cpath d='M7 17 17 7'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
}

.new-single-service-area-all-services-blurb .et_pb_module:before {
    width: 60px;
    height: 60px;
    content: "";
    background: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    border-top-left-radius: 20px;
}

.new-single-service-area-all-services-blurb .et_pb_module:hover {
    transform: scale(1.05);
}

.new-single-service-area-all-services-blurb .et_pb_main_blurb_image {
    height: 160px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}

.new-single-service-area-all-services-blurb .et_pb_main_blurb_image img {
    object-fit: cover;
    height: 100%;
    border-radius: 20px;
}

.new-single-service-area-all-services-blurb h4.et_pb_module_header {
    margin-bottom: 10px;
    font-weight: 400 !important;
    line-height: 1.5 !important;
}

.new-single-service-area-all-services-blurb .et_pb_blurb_container {
    padding-right: 50px;
}

@media all and (max-width: 980px) {
    .new-single-service-area-all-services-blurb .et_pb_column {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 767px) {
    .new-single-service-area-all-services-blurb .et_pb_column {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media all and (min-width: 981px) {
    .new-home-video-section {
        height: calc(100vh - 128px);
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 980px) {
    body .new-home-video-section {
        padding-top: 60px !important;
        padding-bottom: 100px !important;
    }
}

.xs-new-home-form .et-pb-contact-message ul {
    display: none !important;
}

.xs-new-home-form .et-pb-contact-message p {
    padding: 15px 10px;
    text-align: center;
    background: #ddd;
    border-radius: 10px;
    color: #000;
    margin-bottom: 10px;
}

/* New Home 19 Nov 2025 */
.xs-new-paralax-bg .et_parallax_bg_wrap:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1a2e45;
    opacity: .9;
    z-index: 1;
}

.xs-new-home-form.nov-new-home-form button.et_pb_contact_submit.et_pb_button {
    width: 100% !important;
}

.xs-new-home-form.nov-new-home-form .et_contact_bottom_container {
    width: 100% !important;
}

@media all and (min-width: 981px) {
    .xs-new-home-form.nov-new-home-form button.et_pb_contact_submit.et_pb_button {
        margin: 0 0 0 21px;
    }
}

/* New November 2025 Home */
.nov-new-home {
    height: calc(100vh - 96px);
    display: flex;
}

.new-nov-home-image-slider .et_pb_slides .et_pb_slide {
    height: calc(100vh - 96px);
}

@media all and (max-width: 767px) {
    .nov-new-home {
        height: unset !important;
        overflow: hidden;
    }

    .new-nov-home-image-slider .et_pb_slides .et_pb_slide {
        height: calc(130vh);
    }
}

.et_pb_menu__menu ul#menu-main-menu .sub-menu li a {
    font-size: 14px !important;
}

.et_pb_menu__menu ul#menu-main-menu .sub-menu li a:hover {
    color: #fff !important;
}

.et_pb_menu__menu ul#menu-main-menu .sub-menu li .sub-menu a {
    line-height: 1.3 !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.et_pb_menu__menu ul#menu-main-menu .sub-menu li:last-child a {
    border-bottom: none !important;
}

/* Hide Header and Footer from frontend builder */
header.et-l.et-l--header.et-fb-root-ancestor-sibling {
    display: none !important;
}

footer.et-l.et-l--footer.et-fb-root-ancestor-sibling {
    display: none !important;
}

/* NEW CSS New-Home-January 22026 */
.new-home-january-top-blurb .et_pb_module_header {
    position: relative;
}

.new-home-january-top-blurb .et_pb_module_header:before {
    content: "";
    position: absolute;
    top: 6px;
    left: -20px;
    width: 8px;
    height: 8px;
    background: #1a8942;
}

.xs-new-home-form.new-home-january-form .et_contact_bottom_container {
    width: 100% !important;
}

.xs-new-home-form.new-home-january-form .et_contact_bottom_container button {
    width: 100% !important;
    margin-left: 0 !important;
}

.xs-new-home-form.new-home-january-form .et_pb_contact_form {
    margin-left: 0 !important;
}

.xs-new-home-form.new-home-january-form .et_pb_contact_field {
    padding-left: 0 !important;
}

.new-home-january-services-blurb {
    width: 33%;
    float: left;
}