.span9 {
    text-align: center;
    padding-top: 25px;
}


.block {
    display: block;
    width: 300px;
    max-width: auto;
    border: none;
    background-color: #222222;
    color: white;
    padding: 14px 25px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: auto;
}

.block:hover {
    background-color: #cf2e2e;
    color: white;
}


body .signup-wrapper {
    display: none !important;
}

/* Register Form CSS */
.driving-form {
    margin-top: 30px;
    margin-bottom: 30px;
}

.driving-form input,
.driving-form textarea,
.driving-form select {
    width: 100%;
    border: 1px solid #cccccc;
    font-size: 16px !important;
}

.driving-form textarea {
    height: 100px;
}

.df-req-star {
    color: red;
}

.df-file-upload {
    color: red;
}

.driving-form label.df-input-label {
    margin-bottom: 5px !important;
    display: block;
    font-size: 16px !important;
}

.driving-form br {
    display: none;
}

.driving-form .df-three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.driving-form .df-five {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.driving-form .df-four {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.road-test-type-info {
    position: absolute;
    z-index: 999999999;
    background: #000;
    border-radius: 5px;
    color: #fff !important;
    padding: 6px 6px;
    display: none;
    font-size: 12px;
}

i.fa-solid.fa-circle-info.icon-hover-ss:hover+.road-test-type-info {
    display: block;
}

.df-single,
.df-two,
.df-three,
.df-four,
.df-five {
    margin-bottom: 20px;
}

.df-recaptcha {
    margin-bottom: 20px;
}

.register-form-text p,
.register-form-text a {
    font-size: 16px !important;
}

@media all and (max-width: 1200px) {
    .driving-form label.df-input-label {
        font-size: 14px !important;
    }
}

@media all and (max-width: 950px) {
    .driving-form .df-three {
        grid-template-columns: repeat(1, 1fr);
    }

    .driving-form .df-five {
        grid-template-columns: repeat(1, 1fr);
    }

    .driving-form .df-four {
        grid-template-columns: repeat(1, 1fr);
    }
}

.driving-form span.wpcf7-not-valid-tip {
    display: none !important;
}

.driving-form acceptance.wpcf7-not-valid,
.driving-form checkbox.wpcf7-not-valid,
.driving-form textarea.wpcf7-not-valid,
.driving-form select.wpcf7-not-valid,
.driving-form input.wpcf7-not-valid {
    border-color: red !important;
}

.wpcf7-response-output {
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: center !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

body .xdsoft_datetimepicker button {
    background-color: transparent !important;
}

body .xdsoft_datetimepicker .xdsoft_datepicker {
    width: 240px !important;
}

.df-submit .wpcf7-form-control {
    background: #F7BA1B !important;
}

.df-submit input.wpcf7-form-control.wpcf7-submit:hover {
    background: #BE1E2D !important;
}

.home-slides.home-slide2.slide {
    background-position: center center !important;
}

.driving-form input[type="checkbox"] {
    width: 25px;
    position: relative;
    top: 5px;
}

.driving-form span.wpcf7-list-item.first.last {
    margin-left: 0 !important;
}